Repository acm-ucr/membership-portal, pull requests merged in 2022-10, with the labels that each got.

#32 setup forms
  components/AvailableForms.jsx
  components/CompletedForms.jsx
  components/FormHeader.jsx
  components/SubmittedForms.jsx
  pages/forms.js
Labels: do not merge, forms

#34 Jyro88/form card
  components/AvailableForms.jsx
  components/Form.jsx
  pages/index.js
Labels: ready for review, forms

#29 add announcement card component
  components/Announcement.jsx
Labels: ready for review

#30 Rayyan zaid/home component
  components/Home.jsx
Labels: ready for review

#38 setup lexend
  pages/_document.js
Labels: ready for review

#46 setup components
  components/Announcements.jsx
  components/AvailableForms.jsx
  components/CompletedForms.jsx
  components/Header.jsx
  components/Layout.jsx
  components/Resources.jsx
  components/SubmittedForms.jsx
  pages/_app.js
  pages/dashboard.js
  pages/index.js
  pages/profile.js
  pages/register.js
  pages/resources.js
  public/acm-ucr-logo.png
Labels: ready for review

#39 Kninja99/welcome component
  components/Welcome.jsx
Labels: ready for review, login

#47 Implemented General and Admin badges to be displayed based on auth status
  components/Toggle.jsx
Labels: ready for review

#24 finished login form
  .gitignore
  .prettierignore
  components/Home.jsx
  components/Login.jsx
  components/Resource.jsx
  pages/index.js
Labels: ready for review, login

#40 Navigation Component
  components/Navigation.jsx
Labels: ready for review, navigation

#48 ResourceCards built
  components/Resource.jsx
  components/Resources.jsx
  package-lock.json
  package.json
Labels: ready for review, resources

#45 Profile Info Component
  components/Profile.jsx
  pages/profile.js
Labels: ready for review, profile

#44 Rayyan zaid/map through top5 announcements
  components/Announcement.jsx
  components/Announcements.jsx
  pages/dashboard.js
Labels: ready for review, dashboard

#49 add forms array mapping
  components/AvailableForms.jsx
  components/AvailableFormsArray.jsx
  components/CompletedForms.jsx
  components/CompletedFormsArray.jsx
  components/SubmittedForms.jsx
  components/SubmittedFormsArray.jsx
Labels: ready for review

#50 Fix Nav Overlap
  .gitignore
  components/Home.jsx
  components/Navigation.jsx
  pages/dashboard.js
  pages/forms.js
  pages/profile.js
  pages/resources.js
Labels: ready for review, dashboard, profile, forms, resources

#73 Add Profile Header
  pages/profile.js
Labels: ready for review, profile

#74 format
  pages/profile.js
Labels: ready for review, profile

#75 added submitted form
  components/SubmittedForm.jsx
  components/SubmittedForms.jsx
Labels: ready for review, forms

#76 Menthy/forms -> Menthy/resources
  components/AvailableForm.jsx
  components/SubmittedForm.jsx
Labels: ready for review

#80 added announcements title and background
  components/Announcements.jsx
Labels: ready for review, dashboard

#82 added space between the headers
  components/Announcements.jsx
  pages/forms.js
Labels: ready for review, forms

#23 created register form
  components/Register.jsx
Labels: ready for review, register

#72 Added membership portal text
  components/Navigation.jsx
Labels: ready for review, navigation

#89 Use FaCircle Icon
  components/Toggle.jsx
Labels: ready for review

#88 Added a link back to sign in page
  components/Confirmation.jsx
Labels: ready for review

#86 Added No Meetings
  .gitignore
  components/MeetingMap.jsx
  components/Meetings.jsx
Labels: ready for review, dashboard

#87 fix data array
  components/AvailableForms.jsx
  components/AvailableFormsArray.jsx
  components/CompletedForms.jsx
  components/CompletedFormsArray.jsx
  components/SubmittedForms.jsx
  components/SubmittedFormsArray.jsx
Labels: ready for review

#91 change font for welcome page
  components/Welcome.jsx
Labels: ready for review, login

#94 added logout button
  components/Navigation.jsx
Labels: ready for review, navigation

#106 Firestore Setup
  .gitignore
  firebase.js
  package-lock.json
  package.json
  pages/api/hello.js
Labels: ready for review, backend

#107 Firebase Auth
  firebase.js
Labels: ready for review, backend

#109 Kninja99/resouce dropdown
  components/TimeFilter.jsx
  public/drop-down-arrow.png
Labels: ready for review, resources

#110 Added sign up logic
  components/Register.jsx
  package-lock.json
  package.json
Labels: ready for review, register

#105 Create MockInterviewFormDetails.jsx
  components/MockInterviewForm.jsx
  components/MockInterviewFormDetails.jsx
  components/MockinterviewFormData.jsx
  pages/forms.js
Labels: ready for review, forms

#124 Arnav-Menon/resume review form details
  components/ResumeReviewForm.jsx
  components/ResumeReviewFormData.jsx
  components/ResumeReviewFormDetails.jsx
  pages/forms.js
Labels: ready for review, resume review

#85 User Validation
  components/Login.jsx
Labels: ready for review, login

#127 fixed time filter border
  components/TimeFilter.jsx
Labels: ready for review, resources

#128 cho102/added placeholders for all input boxes
  components/Register.jsx
Labels: ready for review, register

#129 cho102_added link tag
  components/Navigation.jsx
Labels: ready for review, navigation

#95 Implemented status toggle when status is clicked.
  components/Toggle.jsx
Labels: ready for review

#93 Rayyan Zaid/editable profile
  components/Profile.jsx
Labels: ready for review, profile

#134 Arnav-Menon/quick fix for #100 to match specs
  components/ResumeReviewForm.jsx
  pages/forms.js
Labels: ready for review, forms, resume review

#125 QR/Profile Pic component
  components/QRCode.jsx
  public/fake-qr.png
  public/pic-default.png
Labels: ready for review, profile

#138 component pop up
  components/AvailableForm.jsx
  components/CompletedForm.jsx
  components/MockInterviewForm.jsx
  components/MockInterviewFormDetails.jsx
  components/Profile.jsx
  components/ResumeReviewForm.jsx
  components/ResumeReviewFormDetails.jsx
  pages/forms.js
Labels: ready for review, forms

#141 Data Collection
  components/Confirmation.jsx
  components/Register.jsx
Labels: register

#150 Move Photo Code to Photo.jsx
  .eslintrc.json
  components/Photo.jsx
  components/QRCode.jsx
  public/1643607679196.png
  public/1662187462679.png
Labels: ready for review

#149 resources api call
  .gitignore
  components/Resource.jsx
  components/Resources.jsx
  components/TimeFilter.jsx
  package-lock.json
  package.json
  pages/api/getAllResources.js
Labels: ready for review, resources, backend

#151 Vm sandoval25/year validation
  components/Profile.jsx
Labels: ready for review, profile

#155 Add data validation for Register component
  components/Register.jsx
Labels: ready for review
