Repository acm-ucr/membership-portal, pull requests merged in 2023-07, with the labels that each got.

#432 Give clubroom image more width
  components/Clubroom.jsx
  components/Frame.jsx
Labels: clubroom

#434 Removed Extra Spacing
  components/Clubroom.jsx
Labels: ready for review, clubroom

#433 Profile, Resources, Resume Header realigned
  pages/profile.js
  pages/resources.js
  pages/resume.js
Labels: ready for review, profile, resume review, resources

#435 Spacing Fixes, Issues #425 and #427
  components/CardAccess.jsx
  components/Clubroom.jsx
  components/ResumeFeedback.jsx
  components/ResumeUpload.jsx
  pages/resume.js
Labels: ready for review

#437 Removed Rules Section of Resume Upload
  components/ResumeUpload.jsx
Labels: ready for review, resume review

#438 Next Auth
  .eslintignore
  .gitignore
  .prettierignore
  components/Apply.jsx
  components/CardAccess.jsx
  components/Home.jsx
  components/Login.jsx
  components/Navigation.jsx
  components/Photo.jsx
  components/Point.jsx
  components/Profile.jsx
  components/ProtectedPage.jsx
  components/ResumeFeedback.jsx
  components/ResumeUpload.jsx
  package-lock.json
  package.json
  pages/_app.js
  pages/api/addApplication.js
  pages/api/auth/[...nextauth].js
  pages/apply.js
  pages/calendar.js
  pages/clubroom.js
  pages/index.js
  pages/profile.js
  pages/resources.js
  pages/resume.js
  pages/user/calendar.js
  pages/user/clubroom.js
  pages/user/dashboard.js
  pages/user/profile.js
  pages/user/resources.js
  pages/user/resume.js
Labels: register, repository

#453 Change clubroom image source to correct file
  components/Clubroom.jsx
Labels: clubroom, bug fix

#452 Changed spacing between year and user points
  components/Home.jsx
Labels: dashboard, bug fix

#451 logo directs to /user/dashboard
  components/Navigation.jsx
Labels: dashboard, bug fix

#458 Bryce7832/profile/year
  components/Profile.jsx
Labels: do not merge, profile, bug fix

#459 Migrated Pages/Api Routes/Components from admin repo to membership repo
  admin/components/Application.js
  admin/components/Calendar.js
  admin/components/Checkin.js
  admin/components/CustomEvent.js
  admin/components/CustomToolbar.js
  admin/components/Dashboard.js
  admin/components/Filter.js
  admin/components/Filters.js
  admin/components/Header.js
  admin/components/Layout.js
  admin/components/Modal.js
  admin/components/Navigation.js
  admin/components/PortalContext.js
  admin/components/Resource.js
  admin/components/ResourceTile.js
  admin/components/Resources.js
  admin/pages/_app.js
  admin/pages/_document.js
  admin/pages/announcements.js
  admin/pages/api/addPoints.js
  admin/pages/api/addResources.js
  admin/pages/api/deleteApplication.js
  admin/pages/api/deleteResource.js
  admin/pages/api/getAllResources.js
  admin/pages/api/getApplications.js
  admin/pages/api/getStats.js
  admin/pages/api/updateResources.js
  admin/pages/api/verifyApplication.js
  admin/pages/calendar.js
  admin/pages/checkin.js
  admin/pages/index.js
  admin/pages/interviews.js
  admin/pages/lockers.js
  admin/pages/registration.js
  admin/pages/resources.js
  admin/pages/resumes.js
  admin/public/acm-ucr-logo.png
  admin/public/favicon.ico
  admin/public/robots.txt
Labels: ready for review, admin
