Repository acm-ucr/membership-portal, pull requests merged in 2023-05, with the labels that each got.

#333 Added Clubroom Fixes
  components/Clubroom.jsx
  components/Frame.jsx
Labels: clubroom

#335 Reduced the Spacing
  components/CardAccess.jsx
Labels: clubroom

#336 Changed Focus Outline to Black
  components/Profile.jsx
Labels: profile

#337 Moved Calendar Constants
  components/Calendar.jsx
  components/data/CalendarColors.jsx
Labels: calendar

#342 Removed All Console Logs
  components/Calendar.jsx
  components/CardAccess.jsx
  components/CustomEvent.jsx
  components/Login.jsx
  components/Profile.jsx
  components/Resources.jsx
  pages/api/getAllResources.js
  pages/apply.js
  pages/dashboard.js
Labels: repository

#341 Button rendered in Return Statement now
  components/TimeFilter.jsx
Labels: resources

#338 Forms Folder Renamed to Archive
  components/archive/AvailableForm.jsx
  components/archive/AvailableForms.jsx
  components/archive/AvailableFormsArray.jsx
  components/archive/CompletedForm.jsx
  components/archive/CompletedForms.jsx
  components/archive/CompletedFormsArray.jsx
  components/archive/Meeting.jsx
  components/archive/Meetings.jsx
  components/archive/MeetingsData.jsx
  components/archive/MockInterviewForm.jsx
  components/archive/MockInterviewFormDetails.jsx
  components/archive/MockinterviewFormData.jsx
  components/archive/ResumeReviewForm.jsx
  components/archive/ResumeReviewFormData.jsx
  components/archive/ResumeReviewFormDetails.jsx
  components/archive/SubmittedForm.jsx
  components/archive/SubmittedForms.jsx
  components/archive/SubmittedFormsArray.jsx
Labels: repository

#343 Destructure events
  components/CustomEvent.jsx
Labels: calendar

#344 Use userContext instead of props for CardAccess
  components/CardAccess.jsx
  pages/clubroom.js
Labels: clubroom

#347 Created Portal Context that reduces # of api calls with useContext
  components/ApplicationProfile.jsx
  components/Calendar.jsx
  components/CardAccess.jsx
  components/Home.jsx
  components/Login.jsx
  components/Navigation.jsx
  components/PortalContext.jsx
  components/Profile.jsx
  components/Resources.jsx
  pages/_app.js
  pages/clubroom.js
  pages/dashboard.js
  pages/index.js
  pages/profile.js
Labels: dashboard, backend, calendar

#359 Add filter colors to academic events
  pages/dashboard.js
Labels: dashboard

#360 Resume page
  components/ResumeFeedback.jsx
  components/ResumeUpload.jsx
  pages/clubroom.js
  pages/resume.js
Labels: resume review

#361 Vraimondi04/small updates
  components/CardAccess.jsx
  components/CustomToolbar.jsx
  components/Login.jsx
  components/Profile.jsx
  pages/_app.js
  pages/api/getInfo.js
  pages/api/setInfo.js
Labels: login, repository, calendar

#362 updated events filtering to keep events from the past
  components/CardAccess.jsx
  pages/_app.js
Labels: dashboard, calendar

#363 Convert img to Image
  components/ApplicationProfile.jsx
Labels: register

#364 Resume added to Navigation Bar
  components/Navigation.jsx
Labels: navigation

#366 Clubroom Header Updated
  components/Clubroom.jsx
  pages/clubroom.js
Labels: clubroom

#367 Spacing reduced in dashboard between welcome header and nav bar
  pages/dashboard.js
Labels: dashboard

#365 Card Access borders more square now
  components/CardAccess.jsx
Labels: clubroom

#368 Change up resume page
  components/ResumeFeedback.jsx
  components/ResumeUpload.jsx
  pages/resume.js
Labels: resume review

#378 Added Last 6 months option in Resources
  components/Resources.jsx
  components/TimeFilter.jsx
Labels: resources

#377 Clubroom Page fits within 100vh
  components/Clubroom.jsx
  pages/clubroom.js
Labels: clubroom

#379 Favicon linked to ACM logo
  public/favicon.ico
Labels: repository

#380 Remove PDF Toolbar
  components/PDFViewer.jsx
Labels: resume review

#382 Implement simple resume link validation
  components/PDFViewer.jsx
  components/ResumeUpload.jsx
  pages/api/submitResume.js
  pages/resume.js
Labels: resume review

#391 Moved dashboard.js data into AnnouncementData.jsx
  components/data/AnnouncementData.jsx
  pages/dashboard.js
Labels: repository

#390 Added Colors.jsx in Data folder
  components/data/Colors.jsx
  pages/apply.js
Labels: repository

#389 Deleted duplciate code in _app.js
  pages/_app.js
Labels: repository

#413 Redesign apply page
  pages/apply.js
Labels: login

#408 Add other option to profile and apply
  components/Profile.jsx
  pages/apply.js
Labels: profile

#412 Add no upcoming message to announcements
  pages/dashboard.js
Labels: dashboard
