Repository acm-ucr/membership-portal, pull requests merged in 2023-09, with the labels that each got.

#488 Extended Resume Link Input Box
  components/ResumeUpload.jsx
  package-lock.json
  package.json
Labels: ready for review, resume review

#490 Centers the Resume Preview When Resume is Found
  components/PDFViewer.jsx
  pages/user/resume.js
Labels: ready for review, resume review

#496 1 line css fix, overrides chrome's default
  components/User/Resume/Upload.jsx
Labels: resume review

#497 Admin Resume Page
  components/Admin/Resume/Resume.jsx
  components/Admin/Resume/ResumeBox.jsx
Labels: ready for review, admin
