Repository acm-ucr/membership-portal, pull requests merged in 2023-08, with the labels that each got.

#466 Issue using top-align
  components/Announcements.jsx
  pages/user/dashboard.js
Labels: do not merge, dashboard, bug fix

#465 Redesigned the clubroom page
  components/CardAccess.jsx
  components/Clubroom.jsx
Labels: clubroom

#463 Remove firebase authentication
  firebase.js
Labels: ready for review, backend

#464 Redirects from /user to /user/dashboard
  next.config.js
Labels: ready for review

#476 Updated Resume Page to New Top-Down Redesign
  components/PDFViewer.jsx
  components/ResumeFeedback.jsx
  components/ResumeUpload.jsx
  pages/user/resume.js
Labels: ready for review, resume review

#475 Announcement section realigned to top
  pages/user/dashboard.js
Labels: ready for review, dashboard, bug fix

#491 Deleted clubroom page and removed clubroom header from nav bar
  components/Clubroom.jsx
  components/Navigation.jsx
  pages/user/clubroom.js
Labels: ready for review, clubroom
